body {
	background-image: url('../assets/currency_background.jpg');
	background-color: rgb(28, 26, 26);
	color: white;
	font-weight: bolder;
	font-size: larger;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

.vendorDescription {
	display: inline;
}

.btn {
color: #333;
background-color: #eee;

}

h1 {
	text-align: center;
	margin-bottom: 40px;
}

div#footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	color: #CCC;
	background: #333;
	padding: 8px;
}